namespace Conversor_de_Divisas.wwwroot.css
/* mi-estilo.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Color de fondo de la página */
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.display-title {
    font-size: 2.5em;
    color: #495057; /* Color de texto más oscuro */
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

p {
    font-size: 1.2em; /* Tamaño de fuente más grande */
    color: #6c757d; /* Color de texto más suave */
    margin-bottom: 10px; /* Espaciado inferior reducido */
}

input {
    padding: 10px;
    border: 1px solid #ced4da; /* Borde más suave */
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Azul brillante */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

    button:hover {
        background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
    }

/* Estilos para el elemento <p>Resultado</p> */
.resultado-text {
    font-size: 1.2em;
    color: #28a745; /* Color verde para destacar */
    margin-top: 10px; /* Espaciado superior */
}
